@import '~@fidelisppm/fidelis-styles/mixins';

/* Tables, rows, and columns */
$table-header-background: #f0f0ee;
$table-row-background: #ffffff;
$table-row-highlight: #f8f9f9;
$table-border-color: #d3d3d3;

.paginated-table-container {
  table{
    border: 1px solid #ececec;
    @include border-radius(4px);
    align-items: center;
    vertical-align: center;

    thead {
      tr {
        background-color: $table-header-background;
      }
    }

    tbody {
      tr {
        background-color: $table-row-background;
        border-top: 1px solid $table-border-color;
      }
      tr:hover {
        background-color: $table-row-highlight;
      }
    }

    td {
      padding: 0.5em 1em;
    }
  }
}
