/* Banner Message Colors */
$fidelis-banner-success-bg: #5ebf72;
$fidelis-banner-warning-bg: #fbd913;
$fidelis-banner-error-bg: #ff0000;
$fidelis-banner-text-color: #ffffff;

@mixin banner-message(){
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 50;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
    color: $fidelis-banner-text-color;

    /* CSS 3 Animations! */
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;

    .fidelis-banner-close-container{
        display: inline-block;
        float: right;
        margin-right: 0.75em;

        &:hover{
            cursor: pointer;
        }
    }
}

.fidelis-banner-success{
    @include banner-message();
    background-color: $fidelis-banner-success-bg;
}

.fidelis-banner-warning{
    @include banner-message();
    background-color: $fidelis-banner-warning-bg;
}

.fidelis-banner-error{
    @include banner-message();
    background-color: $fidelis-banner-error-bg;
}
