.popover-wrapper{
  margin: 0;
  padding: 0;
}

.popover-trigger{
  margin: 0;
  padding: 0;
}

.popover-arrow{
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;

  &::before{
    position: absolute;
    visibility: visible;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
  }
}

.popover-content{
  display: none;
  &[data-show]{
    display: block;
  }

  &[data-popper-placement^='top'] > .popover-arrow {
    bottom: -4px;

    &::before{
      border-top: 8px solid black;
      left: -8px;
      bottom: -12px;
    }
  }

  &[data-popper-placement^='bottom'] > .popover-arrow {
    top: -4px;

    &::before{
      border-bottom: 8px solid black;
      left: -8px;
      top: -12px;
    }
  }

  &[data-popper-placement^='left'] > .popover-arrow {
    right: 4px;

    &::before{
      border-left: 8px solid black;
    }
  }

  &[data-popper-placement^='right'] > .popover-arrow {
    left: -4px;

    &::before{
      border-right: 8px solid black;
    }
  }
}
