.popover-arrow{
  visibility: hidden;

  ::before{
    position: absolute;
    width: 8px;
    height: 8px;
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }
}

.popover-content{
  display: none;
  &[data-show]{
    display: block;
  }

  &[data-popper-placement^='top'] > .popover-arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] > .popover-arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='left'] > .popover-arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='right'] > .popover-arrow {
    bottom: -4px;
  }
}
