@import '~@fidelisppm/fidelis-styles/styles/colors';

.fidelis-limited-input{
  display: inline-block;

  .fidelis-limited-input-red-border{
    border-color: $fidelis-input-border-color-danger;
  }

  .fidelis-limited-input-red-text{
    color: $fidelis-danger;
  }
}
